{
  "root": true,
  "env": {
    "es2017": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "@octoguild/server"
  ],
  "rules": {
    // tmp. todo. Problem with models
    "function-paren-newline": "off",

    // not completelly fit server
//    "@typescript-eslint/no-misused-promises": [
//      "error",
//      {
//        "checksVoidReturn": {
//          "arguments": false, // express route conflict
//          "attributes": true,
//          "returns": true,
//          "properties": true,
//          "variables": true
//        }
//      }
//    ],

    "@typescript-eslint/no-floating-promises": "warn"
  },
  "overrides": [
    {
      "files": ["**/tests/*.test.ts"],
      "rules": {
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/no-unsafe-member-access" : "off",
        "@typescript-eslint/no-unsafe-assignment": "off"
      }
    }
  ],
  "parserOptions": {
    // "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".sql"]
      },
      "babel-module": {
        "extensions": [".js", ".ts", ".d.ts", ".sql"],
        "alias": {
          "@models/*": "./models/*"
        }
      }
    }
  }
}
